<template>
  <!-- -->
  <!--
    <Bg_coalesce/>   -->
  <!-- <Bg_loading_clock/>  -->
  <!--
 -->
  <!--  <Bg_rain_matrix/>-->
  <!--  <Bg_formbox/>-->
  <!--  <Bg_ps3/>-->

  <!--  <Bg_kgbtunnel/>-->
  <!-- <Bg_mountain_c/>-->
  <!--  <Bg_pipeline/>-->
  <!-- <Bg_coalesce/>-->
  <!-- <Bg_aether/>-->
  <!--  <Bg_aurora/>-->
  <!--<Bg_ps3/>-->
  <!--  <Bg_loading_bike/>-->
  <!--  <Bg_eop/>-->
  <Bg_retro sexy="The new Creation" bolded="TRON Money" insertcoin="connect tron wallet"/>
</template>

<script>
/*
import Bg_psx from "../components/bg_psx";
import Bg_coalesce from "../components/bg_coalesce";
import Bg_loading_clock from "../components/bg_loading_clock";
import Bg_rain_matrix from "../components/bg_rain_matrix";
import Bg_ps3 from "../components/bg_ps3";
import Bg_mountain_c from "../components/bg_mountain_c";
import Bg_pipeline from "../components/bg_pipeline";
import Bg_aether from "../components/bg_aether";
import Bg_aurora from "../components/bg_aurora";
import Bg_loading_bike from "../components/bg_loading_bike";
import Bg_eop from "../components/bg_eop";*/

import Bg_retro from "../components/bg_retro";

export default {
  name: "reviewbg",
  components: {
    Bg_retro
    // Bg_psx,
   // Bg_loading_bike,
   // Bg_aurora,
   // Bg_aether,
    //Bg_pipeline, Bg_mountain_c, Bg_ps3, Bg_rain_matrix, Bg_loading_clock, Bg_coalesce, Bg_retro
  }
}
</script>

<style scoped>

</style>