<template>
  <canvas id="canvas" ref="gon"></canvas>
</template>

<script>

export default {
  name: "bg_eop",
  mounted() {
    const canvas = this.$refs["gon"];
    let ctx = canvas.getContext("2d");
    ctx.canvas.width = window.innerWidth;
    ctx.canvas.height = window.innerHeight;

    let pCW = ctx.canvas.width / 100;
    let pCWmin = Math.floor(pCW * 45);
    let pCWmax = Math.floor(pCW * 55);

    let pCH = ctx.canvas.height / 100;
    let pCHmin = Math.floor(pCH * 45);
    let pCHmax = Math.floor(pCH * 55);

    window.addEventListener("resize", function () {
      ctx.canvas.width = window.innerWidth;
      ctx.canvas.height = window.innerHeight;
    });

// Circle Sizes
    let maxRadiusNano = 3;
    let minRadiusNano = 1;

    let maxRadiusSmall = 20;
    let minRadiusSmall = 5;

    let maxRadiusBig = 150;
    let minRadiusBig = 100;

// Amount of Circles
    let maxCirclesNano = 5000;
    let maxCirclesSmall = 300;
    let maxCirclesBig = 5;

// Offset for Lightness (HSL)
    let colOffset = 50;
    let radius = 0;
    let xPos = 0;
    let yPos = 0;

    let H = Math.floor(Math.random() * 361) + 0;
    let S = Math.floor(Math.random() * 60) + 20;
    let L = Math.floor(Math.random() * 60) + 20;

    canvas.css({background: `hsl(${H}, ${S}%, ${L}%)`});

    function drawCircleBig() {
      radius = Math.floor((Math.random() * maxRadiusBig) + minRadiusBig);
      xPos = Math.floor((Math.random() * pCWmax) + pCWmin) - radius / 2;
      yPos = Math.floor((Math.random() * pCHmax) + pCHmin) - radius / 2;

      let Lo = Math.floor((Math.random() * colOffset) + 1);
      if (L < 50) {
        L = L + Lo
      } else {
        L = L - Lo
      }

      let HSL = `hsl(${H}, ${S}%, ${L}%)`;

      ctx.beginPath();
      ctx.fillStyle = HSL;
      ctx.arc(xPos, yPos, radius, 0, 2 * Math.PI);
      ctx.fill();
      ctx.closePath();
    }

    function drawCircleSmall() {
      radius = Math.floor((Math.random() * maxRadiusSmall) + minRadiusSmall);
      xPos = Math.floor((Math.random() * window.innerWidth) + radius);
      yPos = Math.floor((Math.random() * window.innerHeight) + radius);

      let Lo = Math.floor((Math.random() * colOffset) + 1);
      if (L < 50) {
        L = L + Lo
      } else {
        L = L - Lo
      }

      let HSL = `hsl(${H}, ${S}%, ${L}%)`;

      ctx.beginPath();
      ctx.fillStyle = HSL;
      ctx.arc(xPos, yPos, radius, 0, 2 * Math.PI);
      ctx.fill();
      ctx.closePath();
    }

    function drawCircleNano() {
      radius = Math.floor((Math.random() * maxRadiusNano) + minRadiusNano);
      xPos = Math.floor((Math.random() * window.innerWidth) + radius);
      yPos = Math.floor((Math.random() * window.innerHeight) + radius);

      let Lo = Math.floor((Math.random() * colOffset) + 1);
      if (L < 50) {
        L = L + Lo
      } else {
        L = L - Lo
      }

      let HSL = `hsl(${H}, ${S}%, ${L}%)`;

      ctx.beginPath();
      ctx.fillStyle = HSL;
      ctx.arc(xPos, yPos, radius, 0, 2 * Math.PI);
      ctx.fill();
      ctx.closePath();
    };


    canvas.addEventListener("click", function () {
      H = Math.floor((Math.random() * 361) + 0);
      S = Math.floor((Math.random() * 40) + 30);
      L = Math.floor((Math.random() * 40) + 30);

      $("#canvas").css({background: `hsl(${H}, ${S}%, ${L}%)`});
      ctx.canvas.width = window.innerWidth;
      ctx.canvas.height = window.innerHeight;
      ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);

      for (let i = 0; i < maxCirclesBig; i++) {
        drawCircleBig();
      }
      for (let i = 0; i < maxCirclesSmall; i++) {
        drawCircleSmall();
      }
      for (let i = 0; i < maxCirclesNano; i++) {
        drawCircleNano();
      }
    })

    for (let i = 0; i < maxCirclesBig; i++) {
      drawCircleBig();
    }
    for (let i = 0; i < maxCirclesSmall; i++) {
      drawCircleSmall();
    }
    for (let i = 0; i < maxCirclesNano; i++) {
      drawCircleNano();
    }
  }
}
</script>

<style scoped lang="scss">

#canvas {
  width: 100%;
  height: 100%;
}

</style>
