<template>
  <div>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
  </div>
</template>
<style lang="scss">
$speed_star_rise_1: 400s;
$speed_star_rise_2: 600s;
$speed_star_rise_3: 1500s;
$speed_star_rise_4: 150s;
$stc1: #f6e4be;
$stc2: #f6e974;
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 298px 486px $stc2, 671px 1820px $stc2, 843px 1832px $stc2, 1685px 77px $stc2, 1541px 982px $stc2, 1310px 1304px $stc2, 1440px 1388px $stc2, 171px 802px $stc2, 1453px 960px $stc2, 1573px 1181px $stc2, 649px 252px $stc2, 79px 879px $stc2, 62px 657px $stc2, 65px 878px $stc2, 930px 1529px $stc2, 1151px 661px $stc2, 33px 1607px $stc2, 1020px 1785px $stc2, 1138px 987px $stc2, 70px 930px $stc2, 793px 472px $stc2, 284px 735px $stc2, 1588px 467px $stc2, 811px 768px $stc2, 1874px 864px $stc2, 266px 1603px $stc2, 952px 368px $stc2, 729px 919px $stc2, 1100px 901px $stc2, 1724px 1077px $stc2, 997px 291px $stc2, 1695px 921px $stc2, 947px 1954px $stc2, 47px 1407px $stc2, 191px 1577px $stc2, 771px 1085px $stc2, 949px 1182px $stc2, 594px 582px $stc2, 1281px 28px $stc2, 728px 428px $stc2, 1705px 726px $stc2, 484px 833px $stc2, 315px 204px $stc2, 1643px 1824px $stc2, 411px 697px $stc2, 1038px 732px $stc2, 581px 1947px $stc2, 475px 611px $stc2, 928px 697px $stc2, 368px 1777px $stc2, 498px 1331px $stc2, 930px 58px $stc2, 1057px 555px $stc2, 1287px 755px $stc2, 670px 1388px $stc2, 194px 900px $stc2, 1648px 455px $stc2, 257px 1537px $stc2, 1240px 209px $stc2, 1223px 958px $stc2, 588px 11px $stc2, 1222px 555px $stc2, 204px 311px $stc2, 629px 682px $stc2, 70px 1844px $stc2, 857px 287px $stc2, 468px 636px $stc2, 953px 1543px $stc2, 1609px 1667px $stc2, 1970px 874px $stc2, 955px 75px $stc2, 1916px 421px $stc2, 1541px 197px $stc2, 962px 1601px $stc2, 1116px 516px $stc2, 682px 536px $stc2, 1157px 139px $stc2, 1633px 1662px $stc2, 954px 525px $stc2, 332px 1531px $stc2, 1299px 1113px $stc2, 1212px 1417px $stc2, 1981px 1962px $stc2, 462px 1615px $stc2, 1954px 1786px $stc2, 494px 673px $stc2, 300px 593px $stc2, 1214px 1120px $stc2, 1866px 541px $stc2, 306px 1191px $stc2, 1348px 1202px $stc2, 571px 922px $stc2, 209px 255px $stc2, 1874px 362px $stc2, 629px 860px $stc2, 1273px 365px $stc2, 437px 1609px $stc2, 1672px 511px $stc2, 1636px 845px $stc2, 296px 1334px $stc2, 712px 533px $stc2, 98px 1720px $stc2, 1914px 740px $stc2, 1613px 1958px $stc2, 1921px 1028px $stc2, 980px 905px $stc2, 36px 425px $stc2, 841px 1237px $stc2, 1283px 54px $stc2, 898px 1423px $stc2, 360px 1459px $stc2, 811px 376px $stc2, 867px 445px $stc2, 1642px 252px $stc2, 1417px 494px $stc2, 657px 785px $stc2, 240px 645px $stc2, 841px 1181px $stc2, 1363px 1179px $stc2, 426px 1506px $stc2, 500px 1307px $stc2, 1564px 1135px $stc2, 1053px 782px $stc2, 1600px 894px $stc2, 886px 1971px $stc2, 907px 1887px $stc2, 1345px 1048px $stc2, 122px 939px $stc2, 1602px 833px $stc2, 26px 232px $stc2, 1588px 1520px $stc2, 797px 250px $stc2, 166px 852px $stc2, 1117px 1098px $stc2, 905px 831px $stc2, 1327px 1117px $stc2, 1994px 1771px $stc2, 86px 833px $stc2, 877px 1260px $stc2, 1373px 737px $stc2, 1801px 1659px $stc2, 185px 1128px $stc2, 1042px 522px $stc2, 1499px 1123px $stc2, 539px 598px $stc2, 1136px 1242px $stc2, 1880px 679px $stc2, 1811px 1384px $stc2, 1970px 1500px $stc2, 5px 170px $stc2, 1803px 1010px $stc2, 316px 34px $stc2, 129px 1971px $stc2, 1746px 1686px $stc2, 1866px 1790px $stc2, 1260px 1784px $stc2, 1733px 1873px $stc2, 393px 1096px $stc2, 102px 546px $stc2, 802px 1511px $stc2, 739px 790px $stc2, 1169px 1513px $stc2, 473px 102px $stc2, 1682px 1047px $stc2, 32px 337px $stc2, 909px 293px $stc2, 961px 2px $stc2, 872px 1853px $stc2, 648px 898px $stc2, 1373px 574px $stc2, 1437px 1634px $stc2, 1783px 380px $stc2, 814px 215px $stc2, 102px 1997px $stc2, 1218px 1727px $stc2, 1093px 1492px $stc2, 1151px 1783px $stc2, 377px 1432px $stc2, 674px 60px $stc2, 1535px 554px $stc2, 713px 949px $stc2, 56px 1298px $stc2, 825px 837px $stc2, 765px 432px $stc2, 340px 1725px $stc2, 211px 1666px $stc2, 198px 532px $stc2, 1630px 1632px $stc2, 1587px 838px $stc2, 1881px 1294px $stc2, 1334px 1740px $stc2, 1134px 1385px $stc2, 776px 525px $stc2, 330px 458px $stc2, 1136px 1031px $stc2, 1394px 1052px $stc2, 1944px 1540px $stc2, 1367px 434px $stc2, 1265px 965px $stc2, 1101px 899px $stc2, 1405px 646px $stc2, 1035px 797px $stc2, 292px 1989px $stc2, 932px 893px $stc2, 7px 920px $stc2, 150px 310px $stc2, 1468px 1261px $stc2, 942px 1578px $stc2, 1535px 860px $stc2, 1102px 1835px $stc2, 1922px 141px $stc2, 764px 826px $stc2, 200px 1880px $stc2, 588px 1150px $stc2, 1540px 846px $stc2, 378px 1939px $stc2, 685px 762px $stc2, 1867px 1198px $stc2, 977px 1279px $stc2, 371px 648px $stc2, 916px 1109px $stc2, 1829px 1496px $stc2, 608px 120px $stc2, 189px 1611px $stc2, 526px 1395px $stc2, 1001px 1780px $stc2, 807px 292px $stc2, 952px 1199px $stc2, 1893px 1417px $stc2, 1111px 475px $stc2, 617px 804px $stc2, 1009px 320px $stc2, 702px 229px $stc2, 476px 1551px $stc2, 1525px 1181px $stc2, 384px 393px $stc2, 1367px 62px $stc2, 338px 1057px $stc2, 1938px 26px $stc2, 1532px 1966px $stc2, 1117px 1392px $stc2, 160px 1983px $stc2, 1930px 116px $stc2, 341px 1171px $stc2, 1435px 1204px $stc2, 940px 1293px $stc2, 85px 786px $stc2, 85px 1105px $stc2, 243px 620px $stc2, 1373px 292px $stc2, 450px 1381px $stc2, 1743px 1342px $stc2, 1200px 1689px $stc2, 750px 1636px $stc2, 1466px 178px $stc2, 1735px 212px $stc2, 1797px 1560px $stc2, 1706px 1413px $stc2, 562px 1423px $stc2, 1989px 607px $stc2, 920px 330px $stc2, 860px 53px $stc2, 325px 567px $stc2, 1305px 1870px $stc2, 329px 633px $stc2, 982px 154px $stc2, 1354px 163px $stc2, 343px 1920px $stc2, 730px 1755px $stc2, 453px 1555px $stc2, 1096px 145px $stc2, 772px 1878px $stc2, 239px 788px $stc2, 946px 1663px $stc2, 647px 466px $stc2, 633px 280px $stc2, 247px 1005px $stc2, 32px 1909px $stc2, 1690px 943px $stc2, 1117px 1112px $stc2, 1152px 777px $stc2, 82px 504px $stc2, 1048px 304px $stc2, 1153px 1238px $stc2, 1926px 473px $stc2, 323px 1204px $stc2, 1763px 147px $stc2, 1313px 1802px $stc2, 1076px 179px $stc2, 1310px 105px $stc2, 1590px 262px $stc2, 903px 1818px $stc2, 1314px 1139px $stc2, 1694px 697px $stc2, 17px 1498px $stc2, 1063px 365px $stc2, 1415px 1431px $stc2, 780px 521px $stc2, 454px 692px $stc2, 18px 1902px $stc2, 1999px 413px $stc2, 1820px 1317px $stc2, 197px 1489px $stc2, 1689px 1372px $stc2, 1072px 1091px $stc2, 668px 16px $stc2, 1706px 1984px $stc2, 595px 403px $stc2, 1396px 703px $stc2, 1048px 1815px $stc2, 1661px 623px $stc2, 1738px 471px $stc2, 460px 1988px $stc2, 639px 1887px $stc2, 14px 889px $stc2, 1612px 335px $stc2, 682px 1863px $stc2, 215px 1648px $stc2, 1025px 1687px $stc2, 90px 652px $stc2, 223px 1965px $stc2, 1675px 1607px $stc2, 1368px 1113px $stc2, 1746px 239px $stc2, 824px 1126px $stc2, 898px 1360px $stc2, 1303px 734px $stc2, 753px 25px $stc2, 341px 185px $stc2, 1721px 1427px $stc2, 364px 168px $stc2, 1959px 551px $stc2, 843px 125px $stc2, 838px 1510px $stc2, 341px 240px $stc2, 721px 1780px $stc2, 410px 482px $stc2, 1490px 1158px $stc2, 500px 1299px $stc2, 681px 1260px $stc2, 1477px 296px $stc2, 508px 1090px $stc2, 1626px 1024px $stc2, 693px 906px $stc2, 1223px 426px $stc2, 1416px 1208px $stc2, 1239px 1993px $stc2, 1087px 1097px $stc2, 767px 1480px $stc2, 1472px 1821px $stc2, 1325px 920px $stc2, 1696px 925px $stc2, 357px 1787px $stc2, 994px 145px $stc2, 1271px 194px $stc2, 576px 1808px $stc2, 1325px 1381px $stc2, 118px 1407px $stc2, 577px 305px $stc2, 1055px 806px $stc2, 409px 1799px $stc2, 772px 1829px $stc2, 1166px 910px $stc2, 1906px 467px $stc2, 450px 1728px $stc2, 1438px 1752px $stc2, 1849px 248px $stc2, 740px 1154px $stc2, 1710px 947px $stc2, 1335px 1968px $stc2, 380px 1154px $stc2, 49px 1079px $stc2, 755px 65px $stc2, 405px 1988px $stc2, 450px 146px $stc2, 1643px 897px $stc2, 619px 1606px $stc2, 1793px 278px $stc2, 285px 27px $stc2, 16px 1280px $stc2, 1972px 884px $stc2, 110px 1127px $stc2, 1623px 1160px $stc2, 1151px 1952px $stc2, 1989px 69px $stc2, 1135px 1889px $stc2, 1019px 1978px $stc2, 1032px 230px $stc2, 1408px 746px $stc2, 1221px 1272px $stc2, 60px 1055px $stc2, 615px 117px $stc2, 1638px 194px $stc2, 320px 1002px $stc2, 941px 1795px $stc2, 1109px 1368px $stc2, 349px 1185px $stc2, 640px 1683px $stc2, 337px 425px $stc2, 1332px 113px $stc2, 96px 1021px $stc2, 1919px 172px $stc2, 304px 1004px $stc2, 1578px 1330px $stc2, 1902px 1468px $stc2, 1532px 986px $stc2, 874px 659px $stc2, 1438px 1996px $stc2, 1212px 192px $stc2, 1805px 438px $stc2, 66px 726px $stc2, 1559px 1445px $stc2, 1733px 1511px $stc2, 1633px 1254px $stc2, 1119px 1752px $stc2, 972px 654px $stc2, 1792px 1550px $stc2, 484px 1013px $stc2, 1210px 887px $stc2, 1012px 1441px $stc2, 1050px 1575px $stc2, 423px 1690px $stc2, 153px 1132px $stc2, 1567px 704px $stc2, 1872px 576px $stc2, 958px 1902px $stc2, 650px 1233px $stc2, 1497px 1003px $stc2, 955px 2000px $stc2, 913px 78px $stc2, 1696px 1418px $stc2, 739px 297px $stc2, 1702px 283px $stc2, 754px 239px $stc2, 524px 1244px $stc2, 1372px 195px $stc2, 1245px 1917px $stc2, 1786px 691px $stc2, 1457px 535px $stc2, 646px 1775px $stc2, 360px 811px $stc2, 1561px 1665px $stc2, 644px 566px $stc2, 679px 1400px $stc2, 8px 103px $stc2, 1714px 1563px $stc2, 1039px 1587px $stc2, 488px 1238px $stc2, 1130px 1703px $stc2, 1091px 618px $stc2, 927px 1979px $stc2, 334px 420px $stc2, 1197px 1276px $stc2, 937px 466px $stc2, 567px 824px $stc2, 2000px 1158px $stc2, 1703px 1370px $stc2, 1202px 533px $stc2, 1883px 1029px $stc2, 513px 1413px $stc2, 1220px 536px $stc2, 1145px 1284px $stc2, 325px 1987px $stc2, 962px 1607px $stc2, 1523px 470px $stc2, 1574px 170px $stc2, 599px 724px $stc2, 122px 1628px $stc2, 1963px 1263px $stc2, 1357px 119px $stc2, 1674px 1374px $stc2, 1177px 291px $stc2, 901px 188px $stc2, 582px 165px $stc2, 110px 922px $stc2, 1774px 1683px $stc2, 547px 1391px $stc2, 973px 1232px $stc2, 1296px 105px $stc2, 1792px 590px $stc2, 1207px 816px $stc2, 250px 1959px $stc2, 1353px 1115px $stc2, 242px 1206px $stc2, 323px 1779px $stc2, 249px 1230px $stc2, 213px 661px $stc2, 1334px 1883px $stc2, 1834px 389px $stc2, 1336px 1750px $stc2, 1313px 367px $stc2, 33px 1873px $stc2, 1130px 1038px $stc2, 886px 1232px $stc2, 1373px 967px $stc2, 241px 268px $stc2, 390px 1495px $stc2, 624px 1183px $stc2, 783px 1275px $stc2, 613px 1182px $stc2, 1793px 1743px $stc2, 997px 768px $stc2, 146px 1049px $stc2, 1901px 1715px $stc2, 1638px 1763px $stc2, 1852px 654px $stc2, 96px 807px $stc2, 1641px 252px $stc2, 623px 1770px $stc2, 1483px 1791px $stc2, 645px 6px $stc2, 1794px 592px $stc2, 273px 157px $stc2, 1196px 1469px $stc2, 176px 1325px $stc2, 1957px 207px $stc2, 1240px 1341px $stc2, 670px 330px $stc2, 1264px 1619px $stc2, 60px 1093px $stc2, 890px 588px $stc2, 1211px 805px $stc2, 681px 1472px $stc2, 1190px 1203px $stc2, 1257px 73px $stc2, 237px 447px $stc2, 1852px 452px $stc2, 1695px 1634px $stc2, 108px 891px $stc2, 378px 1688px $stc2, 745px 621px $stc2, 881px 1028px $stc2, 467px 78px $stc2, 1937px 1235px $stc2, 1971px 403px $stc2, 900px 1187px $stc2, 1568px 974px $stc2, 1115px 1212px $stc2, 1052px 184px $stc2, 846px 77px $stc2, 878px 868px $stc2, 222px 1335px $stc2, 1155px 366px $stc2, 582px 539px $stc2, 1677px 1869px $stc2, 114px 227px $stc2, 229px 819px $stc2, 161px 262px $stc2, 1561px 503px $stc2, 1963px 1888px $stc2, 123px 824px $stc2, 1504px 682px $stc2, 322px 399px $stc2, 1158px 1797px $stc2, 522px 1569px $stc2, 726px 1875px $stc2, 66px 1593px $stc2, 910px 1636px $stc2, 1378px 1649px $stc2, 1474px 387px $stc2, 688px 33px $stc2, 119px 1486px $stc2, 1747px 1231px $stc2, 1289px 563px $stc2, 408px 1201px $stc2, 208px 1214px $stc2, 66px 54px $stc2, 1524px 67px $stc2, 785px 1066px $stc2, 388px 1033px $stc2, 1393px 733px $stc2, 370px 1409px $stc2, 1186px 1818px $stc2, 1491px 743px $stc2, 1656px 478px $stc2, 1899px 1261px $stc2, 1974px 446px $stc2, 738px 368px $stc2, 1694px 665px $stc2, 669px 159px $stc2, 518px 1902px $stc2, 1966px 1641px $stc2, 110px 395px $stc2, 1261px 379px $stc2, 163px 959px $stc2, 789px 801px $stc2, 1161px 96px $stc2, 1192px 169px $stc2, 1928px 685px $stc2, 724px 49px $stc2, 1905px 121px $stc2, 600px 1643px $stc2, 1615px 122px $stc2, 1571px 1724px $stc2, 1683px 422px $stc2, 250px 24px $stc2, 624px 1140px $stc2, 634px 1650px $stc2, 1033px 1092px $stc2, 929px 1122px $stc2, 989px 611px $stc2, 729px 1156px $stc2, 1417px 37px $stc2, 1444px 29px $stc2, 641px 1273px $stc2, 102px 1475px $stc2, 241px 1367px $stc2, 1398px 637px $stc2, 1884px 1163px $stc2, 1459px 783px $stc2, 1081px 477px $stc2, 188px 1636px $stc2, 1944px 366px $stc2, 161px 1141px $stc2, 1176px 1460px $stc2, 431px 1981px $stc2, 1729px 1699px $stc2, 1713px 1487px $stc2, 370px 1365px $stc2, 230px 813px $stc2, 1648px 921px $stc2, 186px 221px $stc2, 1707px 1637px $stc2, 1259px 591px $stc2, 316px 478px $stc2, 55px 1911px $stc2, 951px 273px $stc2, 1130px 1498px $stc2, 1140px 894px $stc2, 1563px 873px $stc2, 1416px 1347px $stc2, 1448px 493px $stc2, 1227px 1186px $stc2, 751px 1193px $stc2, 737px 623px $stc2, 1766px 1188px $stc2, 550px 101px $stc2, 370px 1247px $stc2, 1414px 1848px $stc2, 72px 1746px $stc2, 1464px 1960px $stc2, 658px 645px $stc2, 1235px 656px $stc2, 296px 893px $stc2, 1717px 186px $stc2, 533px 1342px $stc2, 776px 1160px $stc2, 739px 444px $stc2, 478px 217px $stc2, 1988px 1352px $stc2, 768px 824px $stc2, 1840px 72px $stc2, 72px 1867px $stc2, 351px 1474px $stc2, 1321px 831px $stc2, 870px 295px $stc2, 750px 392px $stc2, 1069px 1387px $stc2, 570px 846px $stc2, 348px 1987px $stc2, 1239px 20px $stc2, 1606px 1571px $stc2, 1275px 829px $stc2, 1393px 341px $stc2, 829px 736px $stc2, 1561px 209px $stc2, 11px 202px $stc2, 1241px 1404px $stc2, 1740px 238px $stc2, 511px 1452px $stc2, 691px 1898px $stc2, 123px 356px $stc2, 861px 67px $stc2, 491px 672px $stc2, 1497px 792px $stc2, 322px 1628px $stc2, 98px 1805px $stc2, 1388px 1108px $stc2, 885px 218px $stc2, 879px 1303px $stc2, 659px 1388px $stc2, 1774px 28px $stc2, 852px 1837px $stc2, 41px 139px $stc2, 1026px 1351px $stc2, 558px 757px $stc2, 1499px 189px $stc2, 1575px 494px $stc2, 879px 9px $stc2, 1984px 226px $stc2, 1532px 423px $stc2, 1252px 1038px $stc2, 1749px 1023px $stc2, 569px 1912px $stc2, 360px 1363px $stc2, 458px 110px $stc2, 1701px 1688px $stc2, 1309px 409px $stc2, 1748px 1467px $stc2, 1336px 1290px $stc2;
  animation: animStar $speed_star_rise_2 linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  border-radius: 30%;
  height: 1px;
  background: transparent;
  box-shadow: 298px 486px $stc2, 671px 1820px $stc2, 843px 1832px $stc2, 1685px 77px $stc2, 1541px 982px $stc2, 1310px 1304px $stc2, 1440px 1388px $stc2, 171px 802px $stc2, 1453px 960px $stc2, 1573px 1181px $stc2, 649px 252px $stc2, 79px 879px $stc2, 62px 657px $stc2, 65px 878px $stc2, 930px 1529px $stc2, 1151px 661px $stc2, 33px 1607px $stc2, 1020px 1785px $stc2, 1138px 987px $stc2, 70px 930px $stc2, 793px 472px $stc2, 284px 735px $stc2, 1588px 467px $stc2, 811px 768px $stc2, 1874px 864px $stc2, 266px 1603px $stc2, 952px 368px $stc2, 729px 919px $stc2, 1100px 901px $stc2, 1724px 1077px $stc2, 997px 291px $stc2, 1695px 921px $stc2, 947px 1954px $stc2, 47px 1407px $stc2, 191px 1577px $stc2, 771px 1085px $stc2, 949px 1182px $stc2, 594px 582px $stc2, 1281px 28px $stc2, 728px 428px $stc2, 1705px 726px $stc2, 484px 833px $stc2, 315px 204px $stc2, 1643px 1824px $stc2, 411px 697px $stc2, 1038px 732px $stc2, 581px 1947px $stc2, 475px 611px $stc2, 928px 697px $stc2, 368px 1777px $stc2, 498px 1331px $stc2, 930px 58px $stc2, 1057px 555px $stc2, 1287px 755px $stc2, 670px 1388px $stc2, 194px 900px $stc2, 1648px 455px $stc2, 257px 1537px $stc2, 1240px 209px $stc2, 1223px 958px $stc2, 588px 11px $stc2, 1222px 555px $stc2, 204px 311px $stc2, 629px 682px $stc2, 70px 1844px $stc2, 857px 287px $stc2, 468px 636px $stc2, 953px 1543px $stc2, 1609px 1667px $stc2, 1970px 874px $stc2, 955px 75px $stc2, 1916px 421px $stc2, 1541px 197px $stc2, 962px 1601px $stc2, 1116px 516px $stc2, 682px 536px $stc2, 1157px 139px $stc2, 1633px 1662px $stc2, 954px 525px $stc2, 332px 1531px $stc2, 1299px 1113px $stc2, 1212px 1417px $stc2, 1981px 1962px $stc2, 462px 1615px $stc2, 1954px 1786px $stc2, 494px 673px $stc2, 300px 593px $stc2, 1214px 1120px $stc2, 1866px 541px $stc2, 306px 1191px $stc2, 1348px 1202px $stc2, 571px 922px $stc2, 209px 255px $stc2, 1874px 362px $stc2, 629px 860px $stc2, 1273px 365px $stc2, 437px 1609px $stc2, 1672px 511px $stc2, 1636px 845px $stc2, 296px 1334px $stc2, 712px 533px $stc2, 98px 1720px $stc2, 1914px 740px $stc2, 1613px 1958px $stc2, 1921px 1028px $stc2, 980px 905px $stc2, 36px 425px $stc2, 841px 1237px $stc2, 1283px 54px $stc2, 898px 1423px $stc2, 360px 1459px $stc2, 811px 376px $stc2, 867px 445px $stc2, 1642px 252px $stc2, 1417px 494px $stc2, 657px 785px $stc2, 240px 645px $stc2, 841px 1181px $stc2, 1363px 1179px $stc2, 426px 1506px $stc2, 500px 1307px $stc2, 1564px 1135px $stc2, 1053px 782px $stc2, 1600px 894px $stc2, 886px 1971px $stc2, 907px 1887px $stc2, 1345px 1048px $stc2, 122px 939px $stc2, 1602px 833px $stc2, 26px 232px $stc2, 1588px 1520px $stc2, 797px 250px $stc2, 166px 852px $stc2, 1117px 1098px $stc2, 905px 831px $stc2, 1327px 1117px $stc2, 1994px 1771px $stc2, 86px 833px $stc2, 877px 1260px $stc2, 1373px 737px $stc2, 1801px 1659px $stc2, 185px 1128px $stc2, 1042px 522px $stc2, 1499px 1123px $stc2, 539px 598px $stc2, 1136px 1242px $stc2, 1880px 679px $stc2, 1811px 1384px $stc2, 1970px 1500px $stc2, 5px 170px $stc2, 1803px 1010px $stc2, 316px 34px $stc2, 129px 1971px $stc2, 1746px 1686px $stc2, 1866px 1790px $stc2, 1260px 1784px $stc2, 1733px 1873px $stc2, 393px 1096px $stc2, 102px 546px $stc2, 802px 1511px $stc2, 739px 790px $stc2, 1169px 1513px $stc2, 473px 102px $stc2, 1682px 1047px $stc2, 32px 337px $stc2, 909px 293px $stc2, 961px 2px $stc2, 872px 1853px $stc2, 648px 898px $stc2, 1373px 574px $stc2, 1437px 1634px $stc2, 1783px 380px $stc2, 814px 215px $stc2, 102px 1997px $stc2, 1218px 1727px $stc2, 1093px 1492px $stc2, 1151px 1783px $stc2, 377px 1432px $stc2, 674px 60px $stc2, 1535px 554px $stc2, 713px 949px $stc2, 56px 1298px $stc2, 825px 837px $stc2, 765px 432px $stc2, 340px 1725px $stc2, 211px 1666px $stc2, 198px 532px $stc2, 1630px 1632px $stc2, 1587px 838px $stc2, 1881px 1294px $stc2, 1334px 1740px $stc2, 1134px 1385px $stc2, 776px 525px $stc2, 330px 458px $stc2, 1136px 1031px $stc2, 1394px 1052px $stc2, 1944px 1540px $stc2, 1367px 434px $stc2, 1265px 965px $stc2, 1101px 899px $stc2, 1405px 646px $stc2, 1035px 797px $stc2, 292px 1989px $stc2, 932px 893px $stc2, 7px 920px $stc2, 150px 310px $stc2, 1468px 1261px $stc2, 942px 1578px $stc2, 1535px 860px $stc2, 1102px 1835px $stc2, 1922px 141px $stc2, 764px 826px $stc2, 200px 1880px $stc2, 588px 1150px $stc2, 1540px 846px $stc2, 378px 1939px $stc2, 685px 762px $stc2, 1867px 1198px $stc2, 977px 1279px $stc2, 371px 648px $stc2, 916px 1109px $stc2, 1829px 1496px $stc2, 608px 120px $stc2, 189px 1611px $stc2, 526px 1395px $stc2, 1001px 1780px $stc2, 807px 292px $stc2, 952px 1199px $stc2, 1893px 1417px $stc2, 1111px 475px $stc2, 617px 804px $stc2, 1009px 320px $stc2, 702px 229px $stc2, 476px 1551px $stc2, 1525px 1181px $stc2, 384px 393px $stc2, 1367px 62px $stc2, 338px 1057px $stc2, 1938px 26px $stc2, 1532px 1966px $stc2, 1117px 1392px $stc2, 160px 1983px $stc2, 1930px 116px $stc2, 341px 1171px $stc2, 1435px 1204px $stc2, 940px 1293px $stc2, 85px 786px $stc2, 85px 1105px $stc2, 243px 620px $stc2, 1373px 292px $stc2, 450px 1381px $stc2, 1743px 1342px $stc2, 1200px 1689px $stc2, 750px 1636px $stc2, 1466px 178px $stc2, 1735px 212px $stc2, 1797px 1560px $stc2, 1706px 1413px $stc2, 562px 1423px $stc2, 1989px 607px $stc2, 920px 330px $stc2, 860px 53px $stc2, 325px 567px $stc2, 1305px 1870px $stc2, 329px 633px $stc2, 982px 154px $stc2, 1354px 163px $stc2, 343px 1920px $stc2, 730px 1755px $stc2, 453px 1555px $stc2, 1096px 145px $stc2, 772px 1878px $stc2, 239px 788px $stc2, 946px 1663px $stc2, 647px 466px $stc2, 633px 280px $stc2, 247px 1005px $stc2, 32px 1909px $stc2, 1690px 943px $stc2, 1117px 1112px $stc2, 1152px 777px $stc2, 82px 504px $stc2, 1048px 304px $stc2, 1153px 1238px $stc2, 1926px 473px $stc2, 323px 1204px $stc2, 1763px 147px $stc2, 1313px 1802px $stc2, 1076px 179px $stc2, 1310px 105px $stc2, 1590px 262px $stc2, 903px 1818px $stc2, 1314px 1139px $stc2, 1694px 697px $stc2, 17px 1498px $stc2, 1063px 365px $stc2, 1415px 1431px $stc2, 780px 521px $stc2, 454px 692px $stc2, 18px 1902px $stc2, 1999px 413px $stc2, 1820px 1317px $stc2, 197px 1489px $stc2, 1689px 1372px $stc2, 1072px 1091px $stc2, 668px 16px $stc2, 1706px 1984px $stc2, 595px 403px $stc2, 1396px 703px $stc2, 1048px 1815px $stc2, 1661px 623px $stc2, 1738px 471px $stc2, 460px 1988px $stc2, 639px 1887px $stc2, 14px 889px $stc2, 1612px 335px $stc2, 682px 1863px $stc2, 215px 1648px $stc2, 1025px 1687px $stc2, 90px 652px $stc2, 223px 1965px $stc2, 1675px 1607px $stc2, 1368px 1113px $stc2, 1746px 239px $stc2, 824px 1126px $stc2, 898px 1360px $stc2, 1303px 734px $stc2, 753px 25px $stc2, 341px 185px $stc2, 1721px 1427px $stc2, 364px 168px $stc2, 1959px 551px $stc2, 843px 125px $stc2, 838px 1510px $stc2, 341px 240px $stc2, 721px 1780px $stc2, 410px 482px $stc2, 1490px 1158px $stc2, 500px 1299px $stc2, 681px 1260px $stc2, 1477px 296px $stc2, 508px 1090px $stc2, 1626px 1024px $stc2, 693px 906px $stc2, 1223px 426px $stc2, 1416px 1208px $stc2, 1239px 1993px $stc2, 1087px 1097px $stc2, 767px 1480px $stc2, 1472px 1821px $stc2, 1325px 920px $stc2, 1696px 925px $stc2, 357px 1787px $stc2, 994px 145px $stc2, 1271px 194px $stc2, 576px 1808px $stc2, 1325px 1381px $stc2, 118px 1407px $stc2, 577px 305px $stc2, 1055px 806px $stc2, 409px 1799px $stc2, 772px 1829px $stc2, 1166px 910px $stc2, 1906px 467px $stc2, 450px 1728px $stc2, 1438px 1752px $stc2, 1849px 248px $stc2, 740px 1154px $stc2, 1710px 947px $stc2, 1335px 1968px $stc2, 380px 1154px $stc2, 49px 1079px $stc2, 755px 65px $stc2, 405px 1988px $stc2, 450px 146px $stc2, 1643px 897px $stc2, 619px 1606px $stc2, 1793px 278px $stc2, 285px 27px $stc2, 16px 1280px $stc2, 1972px 884px $stc2, 110px 1127px $stc2, 1623px 1160px $stc2, 1151px 1952px $stc2, 1989px 69px $stc2, 1135px 1889px $stc2, 1019px 1978px $stc2, 1032px 230px $stc2, 1408px 746px $stc2, 1221px 1272px $stc2, 60px 1055px $stc2, 615px 117px $stc2, 1638px 194px $stc2, 320px 1002px $stc2, 941px 1795px $stc2, 1109px 1368px $stc2, 349px 1185px $stc2, 640px 1683px $stc2, 337px 425px $stc2, 1332px 113px $stc2, 96px 1021px $stc2, 1919px 172px $stc2, 304px 1004px $stc2, 1578px 1330px $stc2, 1902px 1468px $stc2, 1532px 986px $stc2, 874px 659px $stc2, 1438px 1996px $stc2, 1212px 192px $stc2, 1805px 438px $stc2, 66px 726px $stc2, 1559px 1445px $stc2, 1733px 1511px $stc2, 1633px 1254px $stc2, 1119px 1752px $stc2, 972px 654px $stc2, 1792px 1550px $stc2, 484px 1013px $stc2, 1210px 887px $stc2, 1012px 1441px $stc2, 1050px 1575px $stc2, 423px 1690px $stc2, 153px 1132px $stc2, 1567px 704px $stc2, 1872px 576px $stc2, 958px 1902px $stc2, 650px 1233px $stc2, 1497px 1003px $stc2, 955px 2000px $stc2, 913px 78px $stc2, 1696px 1418px $stc2, 739px 297px $stc2, 1702px 283px $stc2, 754px 239px $stc2, 524px 1244px $stc2, 1372px 195px $stc2, 1245px 1917px $stc2, 1786px 691px $stc2, 1457px 535px $stc2, 646px 1775px $stc2, 360px 811px $stc2, 1561px 1665px $stc2, 644px 566px $stc2, 679px 1400px $stc2, 8px 103px $stc2, 1714px 1563px $stc2, 1039px 1587px $stc2, 488px 1238px $stc2, 1130px 1703px $stc2, 1091px 618px $stc2, 927px 1979px $stc2, 334px 420px $stc2, 1197px 1276px $stc2, 937px 466px $stc2, 567px 824px $stc2, 2000px 1158px $stc2, 1703px 1370px $stc2, 1202px 533px $stc2, 1883px 1029px $stc2, 513px 1413px $stc2, 1220px 536px $stc2, 1145px 1284px $stc2, 325px 1987px $stc2, 962px 1607px $stc2, 1523px 470px $stc2, 1574px 170px $stc2, 599px 724px $stc2, 122px 1628px $stc2, 1963px 1263px $stc2, 1357px 119px $stc2, 1674px 1374px $stc2, 1177px 291px $stc2, 901px 188px $stc2, 582px 165px $stc2, 110px 922px $stc2, 1774px 1683px $stc2, 547px 1391px $stc2, 973px 1232px $stc2, 1296px 105px $stc2, 1792px 590px $stc2, 1207px 816px $stc2, 250px 1959px $stc2, 1353px 1115px $stc2, 242px 1206px $stc2, 323px 1779px $stc2, 249px 1230px $stc2, 213px 661px $stc2, 1334px 1883px $stc2, 1834px 389px $stc2, 1336px 1750px $stc2, 1313px 367px $stc2, 33px 1873px $stc2, 1130px 1038px $stc2, 886px 1232px $stc2, 1373px 967px $stc2, 241px 268px $stc2, 390px 1495px $stc2, 624px 1183px $stc2, 783px 1275px $stc2, 613px 1182px $stc2, 1793px 1743px $stc2, 997px 768px $stc2, 146px 1049px $stc2, 1901px 1715px $stc2, 1638px 1763px $stc2, 1852px 654px $stc2, 96px 807px $stc2, 1641px 252px $stc2, 623px 1770px $stc2, 1483px 1791px $stc2, 645px 6px $stc2, 1794px 592px $stc2, 273px 157px $stc2, 1196px 1469px $stc2, 176px 1325px $stc2, 1957px 207px $stc2, 1240px 1341px $stc2, 670px 330px $stc2, 1264px 1619px $stc2, 60px 1093px $stc2, 890px 588px $stc2, 1211px 805px $stc2, 681px 1472px $stc2, 1190px 1203px $stc2, 1257px 73px $stc2, 237px 447px $stc2, 1852px 452px $stc2, 1695px 1634px $stc2, 108px 891px $stc2, 378px 1688px $stc2, 745px 621px $stc2, 881px 1028px $stc2, 467px 78px $stc2, 1937px 1235px $stc2, 1971px 403px $stc2, 900px 1187px $stc2, 1568px 974px $stc2, 1115px 1212px $stc2, 1052px 184px $stc2, 846px 77px $stc2, 878px 868px $stc2, 222px 1335px $stc2, 1155px 366px $stc2, 582px 539px $stc2, 1677px 1869px $stc2, 114px 227px $stc2, 229px 819px $stc2, 161px 262px $stc2, 1561px 503px $stc2, 1963px 1888px $stc2, 123px 824px $stc2, 1504px 682px $stc2, 322px 399px $stc2, 1158px 1797px $stc2, 522px 1569px $stc2, 726px 1875px $stc2, 66px 1593px $stc2, 910px 1636px $stc2, 1378px 1649px $stc2, 1474px 387px $stc2, 688px 33px $stc2, 119px 1486px $stc2, 1747px 1231px $stc2, 1289px 563px $stc2, 408px 1201px $stc2, 208px 1214px $stc2, 66px 54px $stc2, 1524px 67px $stc2, 785px 1066px $stc2, 388px 1033px $stc2, 1393px 733px $stc2, 370px 1409px $stc2, 1186px 1818px $stc2, 1491px 743px $stc2, 1656px 478px $stc2, 1899px 1261px $stc2, 1974px 446px $stc2, 738px 368px $stc2, 1694px 665px $stc2, 669px 159px $stc2, 518px 1902px $stc2, 1966px 1641px $stc2, 110px 395px $stc2, 1261px 379px $stc2, 163px 959px $stc2, 789px 801px $stc2, 1161px 96px $stc2, 1192px 169px $stc2, 1928px 685px $stc2, 724px 49px $stc2, 1905px 121px $stc2, 600px 1643px $stc2, 1615px 122px $stc2, 1571px 1724px $stc2, 1683px 422px $stc2, 250px 24px $stc2, 624px 1140px $stc2, 634px 1650px $stc2, 1033px 1092px $stc2, 929px 1122px $stc2, 989px 611px $stc2, 729px 1156px $stc2, 1417px 37px $stc2, 1444px 29px $stc2, 641px 1273px $stc2, 102px 1475px $stc2, 241px 1367px $stc2, 1398px 637px $stc2, 1884px 1163px $stc2, 1459px 783px $stc2, 1081px 477px $stc2, 188px 1636px $stc2, 1944px 366px $stc2, 161px 1141px $stc2, 1176px 1460px $stc2, 431px 1981px $stc2, 1729px 1699px $stc2, 1713px 1487px $stc2, 370px 1365px $stc2, 230px 813px $stc2, 1648px 921px $stc2, 186px 221px $stc2, 1707px 1637px $stc2, 1259px 591px $stc2, 316px 478px $stc2, 55px 1911px $stc2, 951px 273px $stc2, 1130px 1498px $stc2, 1140px 894px $stc2, 1563px 873px $stc2, 1416px 1347px $stc2, 1448px 493px $stc2, 1227px 1186px $stc2, 751px 1193px $stc2, 737px 623px $stc2, 1766px 1188px $stc2, 550px 101px $stc2, 370px 1247px $stc2, 1414px 1848px $stc2, 72px 1746px $stc2, 1464px 1960px $stc2, 658px 645px $stc2, 1235px 656px $stc2, 296px 893px $stc2, 1717px 186px $stc2, 533px 1342px $stc2, 776px 1160px $stc2, 739px 444px $stc2, 478px 217px $stc2, 1988px 1352px $stc2, 768px 824px $stc2, 1840px 72px $stc2, 72px 1867px $stc2, 351px 1474px $stc2, 1321px 831px $stc2, 870px 295px $stc2, 750px 392px $stc2, 1069px 1387px $stc2, 570px 846px $stc2, 348px 1987px $stc2, 1239px 20px $stc2, 1606px 1571px $stc2, 1275px 829px $stc2, 1393px 341px $stc2, 829px 736px $stc2, 1561px 209px $stc2, 11px 202px $stc2, 1241px 1404px $stc2, 1740px 238px $stc2, 511px 1452px $stc2, 691px 1898px $stc2, 123px 356px $stc2, 861px 67px $stc2, 491px 672px $stc2, 1497px 792px $stc2, 322px 1628px $stc2, 98px 1805px $stc2, 1388px 1108px $stc2, 885px 218px $stc2, 879px 1303px $stc2, 659px 1388px $stc2, 1774px 28px $stc2, 852px 1837px $stc2, 41px 139px $stc2, 1026px 1351px $stc2, 558px 757px $stc2, 1499px 189px $stc2, 1575px 494px $stc2, 879px 9px $stc2, 1984px 226px $stc2, 1532px 423px $stc2, 1252px 1038px $stc2, 1749px 1023px $stc2, 569px 1912px $stc2, 360px 1363px $stc2, 458px 110px $stc2, 1701px 1688px $stc2, 1309px 409px $stc2, 1748px 1467px $stc2, 1336px 1290px $stc2;
}

#stars2 {
  width: 2px;
  height: 2px;
  border-radius: 30%;
  background: transparent;
  box-shadow: 1212px 1210px $stc2, 1525px 1257px $stc2, 1774px 1841px $stc2, 535px 1336px $stc2, 860px 1740px $stc2, 1864px 1807px $stc2, 759px 65px $stc2, 353px 1808px $stc2, 173px 678px $stc2, 831px 1981px $stc2, 533px 940px $stc2, 1084px 802px $stc2, 923px 1590px $stc2, 1888px 402px $stc2, 333px 995px $stc2, 1815px 366px $stc2, 1723px 1752px $stc2, 1442px 697px $stc2, 325px 1231px $stc2, 1672px 1590px $stc2, 1653px 820px $stc2, 1245px 696px $stc2, 468px 449px $stc2, 1478px 1838px $stc2, 1843px 431px $stc2, 1184px 30px $stc2, 1743px 1169px $stc2, 1186px 1622px $stc2, 1366px 225px $stc2, 1084px 637px $stc2, 213px 751px $stc2, 1367px 663px $stc2, 1889px 661px $stc2, 1394px 942px $stc2, 261px 302px $stc2, 675px 1159px $stc2, 1967px 1140px $stc2, 525px 636px $stc2, 883px 201px $stc2, 255px 161px $stc2, 743px 1235px $stc2, 675px 1329px $stc2, 502px 1125px $stc2, 1046px 416px $stc2, 1203px 583px $stc2, 483px 1536px $stc2, 1149px 495px $stc2, 1733px 890px $stc2, 1508px 1412px $stc2, 1683px 1005px $stc2, 1365px 110px $stc2, 1749px 388px $stc2, 1585px 52px $stc2, 1417px 380px $stc2, 268px 777px $stc2, 1310px 661px $stc2, 662px 1593px $stc2, 729px 1419px $stc2, 1607px 1162px $stc2, 346px 701px $stc2, 1687px 1520px $stc2, 402px 469px $stc2, 370px 1858px $stc2, 818px 261px $stc2, 307px 1612px $stc2, 1090px 1226px $stc2, 812px 1112px $stc2, 1313px 926px $stc2, 1387px 1599px $stc2, 1565px 111px $stc2, 1117px 1699px $stc2, 1424px 32px $stc2, 1378px 532px $stc2, 1414px 352px $stc2, 304px 1074px $stc2, 690px 619px $stc2, 76px 1429px $stc2, 1127px 821px $stc2, 784px 1511px $stc2, 423px 537px $stc2, 1753px 683px $stc2, 1485px 1116px $stc2, 1501px 1770px $stc2, 1905px 39px $stc2, 263px 1685px $stc2, 852px 1733px $stc2, 629px 272px $stc2, 179px 976px $stc2, 1454px 1611px $stc2, 687px 127px $stc2, 1141px 1806px $stc2, 359px 440px $stc2, 1045px 143px $stc2, 1757px 219px $stc2, 1755px 913px $stc2, 1426px 1550px $stc2, 1069px 1459px $stc2, 947px 171px $stc2, 777px 749px $stc2, 614px 1532px $stc2, 648px 176px $stc2, 911px 745px $stc2, 1377px 410px $stc2, 1073px 377px $stc2, 1093px 285px $stc2, 1761px 778px $stc2, 1391px 1301px $stc2, 503px 1831px $stc2, 226px 975px $stc2, 1068px 1849px $stc2, 1631px 1379px $stc2, 1030px 1522px $stc2, 1756px 205px $stc2, 781px 473px $stc2, 1311px 1340px $stc2, 1975px 986px $stc2, 2px 1229px $stc2, 1879px 1713px $stc2, 1166px 1741px $stc2, 1991px 282px $stc2, 1053px 907px $stc2, 925px 1865px $stc2, 1367px 189px $stc2, 1160px 290px $stc2, 1105px 1421px $stc2, 523px 1809px $stc2, 419px 1284px $stc2, 1593px 304px $stc2, 196px 23px $stc2, 1102px 1505px $stc2, 1569px 860px $stc2, 1757px 129px $stc2, 330px 162px $stc2, 1472px 1464px $stc2, 1958px 574px $stc2, 793px 1931px $stc2, 497px 1524px $stc2, 1022px 743px $stc2, 1219px 1413px $stc2, 109px 1051px $stc2, 1779px 751px $stc2, 677px 134px $stc2, 412px 1228px $stc2, 1221px 233px $stc2, 736px 849px $stc2, 1732px 875px $stc2, 1933px 1471px $stc2, 623px 1942px $stc2, 159px 298px $stc2, 1030px 588px $stc2, 630px 622px $stc2, 57px 1534px $stc2, 202px 263px $stc2, 957px 1976px $stc2, 1766px 1744px $stc2, 1958px 485px $stc2, 762px 860px $stc2, 802px 239px $stc2, 979px 33px $stc2, 1358px 1697px $stc2, 1899px 1169px $stc2, 726px 522px $stc2, 1351px 692px $stc2, 1265px 1007px $stc2, 1687px 386px $stc2, 666px 539px $stc2, 1906px 805px $stc2, 1868px 1144px $stc2, 140px 596px $stc2, 664px 1061px $stc2, 1698px 896px $stc2, 1319px 148px $stc2, 233px 688px $stc2, 219px 275px $stc2, 230px 733px $stc2, 432px 1956px $stc2, 1468px 1235px $stc2, 1294px 28px $stc2, 1180px 1058px $stc2, 40px 1066px $stc2, 192px 1477px $stc2, 1445px 1575px $stc2, 550px 782px $stc2, 642px 338px $stc2, 37px 1984px $stc2, 891px 1343px $stc2, 212px 889px $stc2, 1382px 20px $stc2, 157px 404px $stc2, 666px 1298px $stc2, 34px 40px $stc2, 814px 576px $stc2, 1444px 344px $stc2, 961px 380px $stc2, 1233px 432px $stc2, 1681px 1153px $stc2, 98px 135px $stc2, 356px 1996px $stc2, 54px 711px $stc2, 1356px 732px $stc2;
  animation: animStar $speed_star_rise_1 linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  border-radius: 30%;
  background: transparent;
  box-shadow: 1212px 1210px $stc2, 1525px 1257px $stc2, 1774px 1841px $stc2, 535px 1336px $stc2, 860px 1740px $stc2, 1864px 1807px $stc2, 759px 65px $stc2, 353px 1808px $stc2, 173px 678px $stc2, 831px 1981px $stc2, 533px 940px $stc2, 1084px 802px $stc2, 923px 1590px $stc2, 1888px 402px $stc2, 333px 995px $stc2, 1815px 366px $stc2, 1723px 1752px $stc2, 1442px 697px $stc2, 325px 1231px $stc2, 1672px 1590px $stc2, 1653px 820px $stc2, 1245px 696px $stc2, 468px 449px $stc2, 1478px 1838px $stc2, 1843px 431px $stc2, 1184px 30px $stc2, 1743px 1169px $stc2, 1186px 1622px $stc2, 1366px 225px $stc2, 1084px 637px $stc2, 213px 751px $stc2, 1367px 663px $stc2, 1889px 661px $stc2, 1394px 942px $stc2, 261px 302px $stc2, 675px 1159px $stc2, 1967px 1140px $stc2, 525px 636px $stc2, 883px 201px $stc2, 255px 161px $stc2, 743px 1235px $stc2, 675px 1329px $stc2, 502px 1125px $stc2, 1046px 416px $stc2, 1203px 583px $stc2, 483px 1536px $stc2, 1149px 495px $stc2, 1733px 890px $stc2, 1508px 1412px $stc2, 1683px 1005px $stc2, 1365px 110px $stc2, 1749px 388px $stc2, 1585px 52px $stc2, 1417px 380px $stc2, 268px 777px $stc2, 1310px 661px $stc2, 662px 1593px $stc2, 729px 1419px $stc2, 1607px 1162px $stc2, 346px 701px $stc2, 1687px 1520px $stc2, 402px 469px $stc2, 370px 1858px $stc2, 818px 261px $stc2, 307px 1612px $stc2, 1090px 1226px $stc2, 812px 1112px $stc2, 1313px 926px $stc2, 1387px 1599px $stc2, 1565px 111px $stc2, 1117px 1699px $stc2, 1424px 32px $stc2, 1378px 532px $stc2, 1414px 352px $stc2, 304px 1074px $stc2, 690px 619px $stc2, 76px 1429px $stc2, 1127px 821px $stc2, 784px 1511px $stc2, 423px 537px $stc2, 1753px 683px $stc2, 1485px 1116px $stc2, 1501px 1770px $stc2, 1905px 39px $stc2, 263px 1685px $stc2, 852px 1733px $stc2, 629px 272px $stc2, 179px 976px $stc2, 1454px 1611px $stc2, 687px 127px $stc2, 1141px 1806px $stc2, 359px 440px $stc2, 1045px 143px $stc2, 1757px 219px $stc2, 1755px 913px $stc2, 1426px 1550px $stc2, 1069px 1459px $stc2, 947px 171px $stc2, 777px 749px $stc2, 614px 1532px $stc2, 648px 176px $stc2, 911px 745px $stc2, 1377px 410px $stc2, 1073px 377px $stc2, 1093px 285px $stc2, 1761px 778px $stc2, 1391px 1301px $stc2, 503px 1831px $stc2, 226px 975px $stc2, 1068px 1849px $stc2, 1631px 1379px $stc2, 1030px 1522px $stc2, 1756px 205px $stc2, 781px 473px $stc2, 1311px 1340px $stc2, 1975px 986px $stc2, 2px 1229px $stc2, 1879px 1713px $stc2, 1166px 1741px $stc2, 1991px 282px $stc2, 1053px 907px $stc2, 925px 1865px $stc2, 1367px 189px $stc2, 1160px 290px $stc2, 1105px 1421px $stc2, 523px 1809px $stc2, 419px 1284px $stc2, 1593px 304px $stc2, 196px 23px $stc2, 1102px 1505px $stc2, 1569px 860px $stc2, 1757px 129px $stc2, 330px 162px $stc2, 1472px 1464px $stc2, 1958px 574px $stc2, 793px 1931px $stc2, 497px 1524px $stc2, 1022px 743px $stc2, 1219px 1413px $stc2, 109px 1051px $stc2, 1779px 751px $stc2, 677px 134px $stc2, 412px 1228px $stc2, 1221px 233px $stc2, 736px 849px $stc2, 1732px 875px $stc2, 1933px 1471px $stc2, 623px 1942px $stc2, 159px 298px $stc2, 1030px 588px $stc2, 630px 622px $stc2, 57px 1534px $stc2, 202px 263px $stc2, 957px 1976px $stc2, 1766px 1744px $stc2, 1958px 485px $stc2, 762px 860px $stc2, 802px 239px $stc2, 979px 33px $stc2, 1358px 1697px $stc2, 1899px 1169px $stc2, 726px 522px $stc2, 1351px 692px $stc2, 1265px 1007px $stc2, 1687px 386px $stc2, 666px 539px $stc2, 1906px 805px $stc2, 1868px 1144px $stc2, 140px 596px $stc2, 664px 1061px $stc2, 1698px 896px $stc2, 1319px 148px $stc2, 233px 688px $stc2, 219px 275px $stc2, 230px 733px $stc2, 432px 1956px $stc2, 1468px 1235px $stc2, 1294px 28px $stc2, 1180px 1058px $stc2, 40px 1066px $stc2, 192px 1477px $stc2, 1445px 1575px $stc2, 550px 782px $stc2, 642px 338px $stc2, 37px 1984px $stc2, 891px 1343px $stc2, 212px 889px $stc2, 1382px 20px $stc2, 157px 404px $stc2, 666px 1298px $stc2, 34px 40px $stc2, 814px 576px $stc2, 1444px 344px $stc2, 961px 380px $stc2, 1233px 432px $stc2, 1681px 1153px $stc2, 98px 135px $stc2, 356px 1996px $stc2, 54px 711px $stc2, 1356px 732px $stc2;
}

#stars3 {
  width: 3px;
  height: 3px;
  border-radius: 30%;
  background: transparent;
  box-shadow: 1239px 759px $stc2, 1756px 854px $stc2, 747px 1422px $stc2, 1657px 511px $stc2, 1841px 959px $stc2, 830px 927px $stc2, 891px 1998px $stc2, 614px 145px $stc2, 1564px 102px $stc2, 1789px 837px $stc2, 1398px 360px $stc2, 308px 239px $stc2, 1589px 1991px $stc2, 1334px 1296px $stc2, 497px 495px $stc2, 879px 1677px $stc2, 1598px 1382px $stc2, 1577px 590px $stc2, 436px 1507px $stc2, 1526px 1310px $stc2, 733px 1321px $stc2, 801px 1753px $stc2, 180px 1185px $stc2, 289px 690px $stc2, 539px 1941px $stc2, 997px 113px $stc2, 165px 265px $stc2, 95px 1671px $stc2, 1133px 1367px $stc2, 1692px 883px $stc2, 116px 993px $stc2, 574px 1386px $stc2, 1229px 1688px $stc2, 1673px 354px $stc2, 1560px 1829px $stc2, 1697px 331px $stc2, 1887px 698px $stc2, 1808px 200px $stc2, 328px 1370px $stc2, 279px 1161px $stc2, 434px 1677px $stc2, 1819px 814px $stc2, 510px 394px $stc2, 1183px 548px $stc2, 818px 1822px $stc2, 427px 1769px $stc2, 1484px 69px $stc2, 874px 1459px $stc2, 483px 1505px $stc2, 1756px 1299px $stc2, 468px 246px $stc2, 653px 1216px $stc2, 1636px 742px $stc2, 1017px 469px $stc2, 1668px 1373px $stc2, 466px 570px $stc2, 827px 1765px $stc2, 1587px 1615px $stc2, 821px 1738px $stc2, 379px 656px $stc2, 741px 1116px $stc2, 233px 103px $stc2, 1115px 1533px $stc2, 1199px 884px $stc2, 33px 1332px $stc2, 1863px 968px $stc2, 1735px 49px $stc2, 785px 1482px $stc2, 83px 141px $stc2, 459px 1869px $stc2, 1130px 209px $stc2, 1579px 301px $stc2, 775px 568px $stc2, 1331px 863px $stc2, 1055px 572px $stc2, 989px 168px $stc2, 852px 604px $stc2, 716px 1786px $stc2, 805px 370px $stc2, 1156px 318px $stc2, 1959px 708px $stc2, 1995px 495px $stc2, 922px 952px $stc2, 822px 1970px $stc2, 1228px 1233px $stc2, 1719px 521px $stc2, 819px 179px $stc2, 1882px 1444px $stc2, 746px 1238px $stc2, 226px 757px $stc2, 259px 977px $stc2, 1839px 141px $stc2, 1349px 859px $stc2, 1615px 647px $stc2, 368px 1457px $stc2, 751px 1189px $stc2, 761px 1139px $stc2, 1028px 1450px $stc2, 1906px 654px $stc2, 838px 478px $stc2;
  animation: animStar $speed_star_rise_3 linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  border-radius: 30%;
  background: transparent;
  box-shadow: 1239px 759px $stc1, 1756px 854px $stc1, 747px 1422px $stc1, 1657px 511px $stc1, 1841px 959px $stc1, 830px 927px $stc1, 891px 1998px $stc1, 614px 145px $stc1, 1564px 102px $stc1, 1789px 837px $stc1, 1398px 360px $stc1, 308px 239px $stc1, 1589px 1991px $stc1, 1334px 1296px $stc1, 497px 495px $stc1, 879px 1677px $stc1, 1598px 1382px $stc1, 1577px 590px $stc1, 436px 1507px $stc1, 1526px 1310px $stc1, 733px 1321px $stc1, 801px 1753px $stc1, 180px 1185px $stc1, 289px 690px $stc1, 539px 1941px $stc1, 997px 113px $stc1, 165px 265px $stc1, 95px 1671px $stc1, 1133px 1367px $stc1, 1692px 883px $stc1, 116px 993px $stc1, 574px 1386px $stc1, 1229px 1688px $stc1, 1673px 354px $stc1, 1560px 1829px $stc1, 1697px 331px $stc1, 1887px 698px $stc1, 1808px 200px $stc1, 328px 1370px $stc1, 279px 1161px $stc1, 434px 1677px $stc1, 1819px 814px $stc1, 510px 394px $stc1, 1183px 548px $stc1, 818px 1822px $stc1, 427px 1769px $stc1, 1484px 69px $stc1, 874px 1459px $stc1, 483px 1505px $stc1, 1756px 1299px $stc1, 468px 246px $stc1, 653px 1216px $stc1, 1636px 742px $stc1, 1017px 469px $stc1, 1668px 1373px $stc1, 466px 570px $stc1, 827px 1765px $stc1, 1587px 1615px $stc1, 821px 1738px $stc1, 379px 656px $stc1, 741px 1116px $stc1, 233px 103px $stc1, 1115px 1533px $stc1, 1199px 884px $stc1, 33px 1332px $stc1, 1863px 968px $stc1, 1735px 49px $stc1, 785px 1482px $stc1, 83px 141px $stc1, 459px 1869px $stc1, 1130px 209px $stc1, 1579px 301px $stc1, 775px 568px $stc1, 1331px 863px $stc1, 1055px 572px $stc1, 989px 168px $stc1, 852px 604px $stc1, 716px 1786px $stc1, 805px 370px $stc1, 1156px 318px $stc1, 1959px 708px $stc1, 1995px 495px $stc1, 922px 952px $stc1, 822px 1970px $stc1, 1228px 1233px $stc1, 1719px 521px $stc1, 819px 179px $stc1, 1882px 1444px $stc1, 746px 1238px $stc1, 226px 757px $stc1, 259px 977px $stc1, 1839px 141px $stc1, 1349px 859px $stc1, 1615px 647px $stc1, 368px 1457px $stc1, 751px 1189px $stc1, 761px 1139px $stc1, 1028px 1450px $stc1, 1906px 654px $stc1, 838px 478px $stc1;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: $stc2;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
</style>
